* {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.header{
   background-color: rgba(255, 144, 14, 0.1);
   
}
nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-title{
    font-size: 45px;
    font-weight: 700;
    color: #131313;
    padding-left: 228px;
  }
  nav ul {
    display: flex;
    align-items: center;
    padding-right: 240px;
  }
  nav > ul li {
    list-style: none;
    font-weight: 500;
    margin-left: 50px;
    font-size: 18px;
   
  }
  .details-section{
    
    margin-top: 205px;
    
    text-align: center;
    
  }
  .header-title{
    font-size: 54px;
    font-weight: 700;
    margin-left: auto;
    margin-right: auto;
    color:  #131313;
  }
  .header-description{
color: #727272;
margin-left: auto;
margin-right: auto;
width: 862px;
margin-top: 50px;
  }
  .btn1{
    font-weight: 600;
    width: 180px;
    height: 64px;
font-size: 20px;
border: none;
border-radius: 8px;
color: #ffffff;
text-align: center;
  padding: 21px 25px;
  background: #FF900E;
margin-top: 30px;
padding-bottom: 50px;

  }
  .banner-img{
    display: flex;
    justify-content: center;
    padding: 50px 0;
  }
  .features-container{
display: flex;
gap: 70px;
justify-content: center;
align-items: center;
margin-left: auto;
margin-right: auto;
  }
  .grid-img{
display: grid;
grid-template-columns: repeat(2, 342px);
grid-row-gap: 24px;
grid-column-gap: 24px;
  }
  .article{
    width: 537px;
height: 304px;
  }
  .article-title{
font-size: 45px;
font-weight: 700;
color: #131313;
margin-bottom: 24px;
  }
  .txt1{
font-weight: 500;
color: #727272;
  }
  .txt2{
color: #FF900E;
  }
  .article-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
  }
  .feature2{
    display: flex;
    gap: 150px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 130px;
    width: 1440px;
height: 1059px;
background-color: #fff;
  }
  .right-feature{
    width: 586px;
height: 982px;
align-items: center;
margin-top: 40px;
  }
  .feature2-title{
    border-left: 3px solid #FF900E;
    padding-left: 20px;
  }
  .right-feature-title{
font-size: 20px;
font-weight: 600;
margin-top: 65px;
margin-bottom: 10px;
padding-left: 30px;
  }
  .right-feature-description{
    font-weight: 400;
    font-size: 16px;
    color: #727272;
padding-left: 30px;
  }
  .img-container {
    position: relative;
    width: 50%;
  }
  .img-container .btn2{
    position: absolute;
    top: 80%;
    left: -14%;
  }
  .btn2{
    width: 342px;
height: 200px;
border-radius: 8px;
font-size: 25px;
font-weight: 500;
color: #FFFFFF;
background-color: #FF900E;
border: none;
margin-bottom: 130px;

  }
  .btn2-text{
    font-weight: 700;
font-size: 65px;
  }
  .fact-section{
    padding-left: 12%;
    padding-top: 130px;
  }
  .fact-section-title{
    font-size: 45px;
font-weight: 700;
color: #131313;
padding-bottom: 24px;
  }
  .fact-section-description{
    width: 542px;
height: 52px;
    font-weight: 400;
    font-size: 16px;
    color: #727272;
    padding-bottom: 100px;
  }
  .fact-icons{
    display: flex;
    justify-content: center;
    gap: 124px; 
    margin-left: 290px;
    margin-right: 290px;
margin-top: 50px;
margin-bottom: 150px;

  }
  .icon{
    width: 241.83px;
    height: 160px;
border: 1px solid #FF900E;
border-radius: 8px;
text-align: center;
padding-top: 45px;
transition: transform 1s;

  }
  .icon:hover{
    width: 400px;
    height: 200px;
    background-color: #FF900E;
    transform: scale(1.5);

  }
  .icon-img{
    width: 169px;
    height: 136.22px;
    margin: auto;
  }
.extra-title{
    text-align: center;
}
  .extra-section{
    width: 1440px;
height: 1059px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 50px;
  }
  .extra-section > div img{
    width: 400px;
    height: 400px;
  }
  .footer{
    width: 542px;
height: 129px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 180px;
    margin-bottom: 50px;
  }
  .footer-img{
    display: flex;
    justify-content: center;
    gap: 155px;
  }
  .copyright{
    width: 1440px;
height: 100px;
margin: 130px auto 216px auto;
text-align: center;
background-color: #FFF4E7;
border-radius: 8px;
padding-top: 80px;


  }

  @media only screen and (max-width:576px) {
.header, .header-description, .article, .right-feature, .fact-section-description, .copyright{
    width: 100%;
    text-align: center;
}
nav{
    flex-direction: column;
    align-items: flex-end;
    padding-right: 50px;
}
   .nav-title{
    padding-left: 0px;
   } 
   nav ul{
    flex-direction: column;
    padding-right: 90px;
   }
   {
    flex-direction: column;
   }
   .features-container{
    flex-direction: column-reverse;
   }
   .grid-img{
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 0px;
    grid-column-gap: 0px;
   }
   .feature2, .footer-img, .banner-img{
    flex-direction: column;
    width: 100%;
   }
   .feature2-title, .right-feature-title, .right-feature-description, .fact-section{
    padding-left: 0px;
    text-align: center;
   }
   .img-container{
    width: 100%;
   }
   .btn2, .img-container{
    display: none;
   }
   .fact-icons{
    flex-direction: column;
    margin-left: 0px;
    margin-right: 0px;
    align-items: center;
   }
   .extra-section{
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
   }
   .footer{
    width: 100%;
    margin-top: 600px;
   }
   .footer-img{
    width: 90%;
   }
  }